/* media query focued on mobile */

    /* Note: Design for a width of 768px */


    /*Large*/
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
          
      h1 {
      font-size: 28px;
      }

      h2 {
      font-size: 20px;
      }

      #logo {
        width: 250px;
        height: 116px;
        float: right;
        padding-top: 240px;
        padding-right: 80px;
      }

      #home {
        height: 70%;
      }

      .feature {
        display: inline-block;
        width: 40%;
        height: auto;
      }

      #screens p {
      font-size: 16px;
      text-align: left;
      padding: 4%;
      }

      #screenshot {
      display: inline-block;
      float: left;
      margin: 30px;
      width: 50%;
      }

      h5 {
      font-size: 18px;
      padding-left: 30px;
      }

      #features {
        display: inline-block;
      }

      h3 {
        font-size: 18px;
        padding-left: 100px;
      }

      #iphone {
        width: 55%;
        height: auto;
        padding-right: 30px;
        margin: 2%;
        padding-top: 0px;
        margin-top: 0px;
      }

      #appstore2 {
        width: 30%;
        height: auto;
        display: inline;
        margin: 0px;
        float: right;
        padding-right: 50px;
        padding-top: 20px;
      }

      #screen4 p {
        font-size: 16px;
      }

      #screen4 li {
        font-size: 15px;
      }

    }

    /*Medium*/
    @media only screen and (min-width: 480px) and (max-width: 767px) {
          
          #topNavigation ul {
            background-color: rgba(73, 73, 73, .5);
            padding-top: 0px;
            padding-right: 20px;
            font-size: 12px;
          }

          h1 {
          font-size: 24px;
          }

          h2 {
          font-size: 18px;
          }

          #logo {
            width: 250px;
            height: 116px;
            float: right;
            padding-top: 240px;
            padding-right: 80px;
          }

          .feature {
          width: 100%;
          }

          #screens p {
          font-size: 16px;
          text-align: left;
          padding: 4%;
          }

          #screenshot {
          display: inline-block;
          float: left;
          margin: 30px;
          width: 20%;
          }

          h5 {
          font-size: 18px;
          }
    }

    /*Small*/
    @media only screen and (max-width: 479px) {

          #topNavigation ul {
            background-color: rgba(73, 73, 73, .5);
            padding-top: 0px;
            padding-right: 20px;
            font-size: 12px;
          }

          h1 {
            font-size: 16px;
          }

          h2 {
            font-size: 13px;
          }

          #logo {
            width: 250px;
            height: 116px;
            float: right;
            padding-top: 200px;
            padding-right: 50px;
          }

    }
