/* media query focued on mobile */

    /* Note: Design for a width of 768px */


    /*Large*/
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
          
      h1 {
      font-size: 28px;
      }

      h2 {
      font-size: 20px;
      }

      h3 {
      font-size: 16px;
      }

      #home {
        height: 378px;
      }

      #logo {
        width: 250px;
        height: 116px;
        float: right;
        padding-top: 240px;
        padding-right: 80px;
      }

      #homescreen {
        width: 270px;
        padding-left: 20px;
        padding-right: 20px;
      }

      #features {
        height: 180px;
        padding-bottom: 10px;
        width: 50%;
      }

      #features p {
        padding: 2%;
        font-size: 15px;
        text-align: center;
        margin-bottom: 0px;
      }

      #scroll p {
        font-size: 18px;
      }

      #screens {
        height: 810px;
      }

      #screens p {
        font-size: 16px;
        text-align: left;
        padding: 4%;
      }

      #screenshot {
        display: inline-block;
        float: left;
        margin: 30px;
        width: 50%;
      }

      h5 {
        font-size: 18px;
        padding-left: 30px;
      }

      h3 {
        font-size: 18px;
        padding-right: 0px;
        width: 40%;
      }

      .feature {
        height: 380px;
      }

      #iphone {
        width: 50%;
        height: auto;
        padding-top: 20px;
      }

      #appstore2 {
        width: 35%;
        height: auto;
      }

      #screen4 p {
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 0px;
      }

      #screen4 li {
        font-size: 15px;
      }

      #appstore2 {
        padding-top: 5px;
      }

      #users p {
        font-size: 16px;
      }

      #users img {
        width: 90%;
      }

      #footer {
        height: 230px;
      }

    }

    /*Medium*/
    @media only screen and (min-width: 480px) and (max-width: 767px) {
          
      #topNavigation ul {
        padding-top: 10px;
        padding-right: 20px;
        font-size: 14px;
      }

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 18px;
      }

      #logo {
        width: 250px;
        height: 116px;
        float: right;
        padding-top: 240px;
        padding-right: 80px;
      }

      .feature {
        width: 100%;
      }

      #home {
        height: 350px;
      }

      #screenshot {
        margin: 30px;
        height: 250px;
        width: auto;
      }

      h5 {
        font-size: 18px;
      }

      #appstore {
        padding-bottom: 10px
      }

      #homescreen {
        width: 200px;
        padding-left: 10px;
        padding-right: 20px;
      }

      #features {
        height: 170px;
        padding-bottom: 10px;
        width: 50%;
      }

      #features p {
        padding: 2%;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0px;
      }

      #scroll p {
        font-size: 16px;
        padding-left: 100px;
      }

      .feature {
        height: 360px;
      }

      .square {
        height: 150px;
        width: 30%;
      }

      #screens p {
        font-size: 16px;
        text-align: left;
        padding: 4%;
        padding-top: 50px;
      }

      #distance {
        margin-top: 10px;
      }

      #speedometer {
        margin-top: 10px;
      }

      #tempo {
        margin-top: 10px;
      }

      h3 {
        font-size: 16px;
        padding-right: 0px;
        padding-top: 10px;
        width: 50%;
      }

      #screens {
        height: 1600px;
      }

      #iphone {
        width: 45%;
        height: auto;
      }

      #screen4 {
        height: 400px;
      }

      #screen4 p {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      #appstore2 {
        padding-top: 10px;
        margin: 0px;
      }

      .quote {
        width: 100%;
        padding: 0px;
      }

      #users img {
        width: 150px;
        height: auto;
        float: left;
        padding-right: 20px;
      }

      #users p {
        font-size: 16px;
        padding: 4%;
        padding-top: 70px;
      }

      #users {
        height: 620px;
      }

      #footer {
        height: 220px;
      }


    }

    /*Small*/
    @media only screen and (max-width: 479px) {

      body {
        background-position: 35% 60;
      }

      #filter {
        height: 680px;
      }

      #topNavigation {
        display: none;
      }

      .mobilelogo {
        background-image: url(images/caddy_single_logo.png);
        height: 50px;
        margin: 5px 10px 5px 10px;
        width: 150px;
        float: left;
        background-size: 120px 50px;
        background-repeat: no-repeat;
      }

      #mobilenav {
        width: 100%;
        display: inline-block;
        float: right;
        line-height: 60px;
        background-color: rgba(21, 200, 2, .8);
      }

      #mobilenav ul li.selected {
        border-bottom: 4px solid #309852;
        padding-bottom: 10px;
      }

      #mobilenav ul li {
          color:#fff;
          text-decoration: none;
      }

      #mobilenav ul li:hover {
        color: #15c802;
        background-color: rgba(173, 173, 173, .5);
      }

      h1 {
        font-size: 16px;
      }

      #header1 {
        margin-top: 150px;
      }

      h2 {
        font-size: 13px;
      }

      #logo1 {
        height: 15%;
        margin-bottom: auto;
        padding-top: 270px;
      }

      .feature {
        width: 100%;
      }

      #home {
        height: 600px;
      }

      #screenshot {
        display: inline-block;
        float: left;
        margin: 20px;
        width: 55%;
      }

      h5 {
       font-size: 16px;
       padding-left: 15px;
       padding-top: 15px;
      }

      #appstore {
        float: right;
        padding-right: 80px;
      }

      #homescreen {
        width: 200px;
        padding-left: 10px;
        padding-right: 20px;
      }

      #features {
        height: 170px;
        padding-bottom: 10px;
        width: 100%;
      }

      #features p {
        padding: 2%;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0px;
      }

      #scroll {
        width: 100%;
      }

      #scroll p {
        font-size: 16px;
        padding-left: 10px;
      }

      #downarrow {
        padding-top: 7px;
      }

      .feature {
        display: inline-block;
        width: 40%;
        height: auto;
      }

      .square {
        height: 150px;
        width: 30%;
      }

      #screens p {
        font-size: 16px;
        text-align: left;
        padding: 4%;
      }

      #distance {
        margin-top: 10px;
      }

      #speedometer {
        margin-top: 10px;
      }

      #tempo {
        margin-top: 10px;
      }

      .feature {
        width: 100%;
      }

      h3 {
        font-size: 16px;
        padding-right: 0px;
        padding-top: 70px;
        width: 30%;
      }

      #iphone {
        width: 80%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      #screen4 p {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      #appstore2 {
        padding-top: 10px;
        margin: 0px;
        display: block;
        margin: auto;
      }

      #screen4 li {
        font-size: 14px;
      }

      #screen4 ul {
        padding-left: 20px;
      }

      #screens {
        height: 1800px;
      }

      #screen4 {
        height: 630px;
      }

      #users {
        width: 100%;
        height: 930px;
      }

      .quote {
        width: 100%;
        padding: 0px;
      }

      #users img {
        width: 40%;
      }

      #users p {
        font-size: 16px;
        padding: 5%;
      }

      #wide {
        width: 100%;
      }

      #footer {
        height: 280px;
      }


    }

