body {
  margin: 0px;
  background: url("images/teeup.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 600px;
  width: 100%;
  z-index: 0;
}

#filter {
  background-color: rgba(137, 123, 140, .0);
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 680px;
  width: 100%;
  z-index: 0;
}


h1, h2, h3, h4, h6, #h7, #speed p, #distance p, #tempo p, 
#topNavigation, #users p, #features p, #scroll p, 
#screens p, h5, #screen4 li, #users p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 44px;
  display: block;
  float: right;
  width: 30%;
  color: #fff;
  font-weight: 100;
  padding-top: 80px;
  padding-right: 105px;
  padding-bottom: 40px;
}

h2 {
  font-size: 24px;
  display: block;
  float: right;
  width: 20%;
  color: #fff;
  font-weight: 100;
  padding-right: 190px;
  padding-bottom: 100px;
}

h1, h2, h3, h5, h6, ul, menu, dir, hr, #speed p, 
#distance p, #tempo p, #screens p, #users p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

#topNavigation {
    font-size: 15px;
}

#topNavigation ul {
    list-style-type: none;
    padding-top: 30px;
    padding-right: 100px;
    float: right;
}

#topNavigation ul li {
    display: inline;
    padding: 0px 15px;
}

#topNavigation ul li.selected {
    border-bottom: 4px solid #309852;
    padding-bottom: 10px;
}

#topNavigation ul li a {
    color:#fff;
    text-decoration: none;
}

#topNavigation ul li a:hover {
  color: #15c802;
}

#logo {
  width: 250px;
  height: 116px;
  padding-left: 50px;
  padding-top: 150px;
  display: block;
  float: left;
}

#landing {
  display: block;
  float: right;
  width: 100%;
}

#home {
  background-color: rgba(21, 200, 2, .5);
  position: relative;
  z-index: 1;
  width: 100%;
  height: 443px;
}

#homescreen {
  display: block;
  float: left;
  padding-left: 50px;
  position: relative;
  z-index: 1;
  width: 20%;
}

h3 {
  font-size: 20px;
  display: block;
  float: left;
  width: 40%;
  color: #fff;
  font-weight: 300;
  padding-left: 100px;
  padding-top: 40px;
}

#appstore {
  height: 60px;
  width: 210px;
  display: block;
  float: left;
  padding-left: 50px;
  padding-top: 20px;
}

#featues {
  display: block;
}

#distance {
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

#speedometer {
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

#tempo {
  height: 70px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#square1 {
  width: 270px;
  height: 210px;
  background-color: rgba(73, 73, 73, .3);
  position: absolute;
  left: 500px;
  top: 120px;
  display: inline-block;
}

#square2 {
  width: 270px;
  height: 210px;
  background-color: rgba(73, 73, 73, .3);
  position: absolute;
  left: 800px;
  top: 120px;
  display: inline-block;
}

#square3 {
  width: 270px;
  height: 210px;
  background-color: rgba(73, 73, 73, .3);
  position: absolute;
  left: 1100px;
  top: 120px;
  display: inline-block;
}

#features p {
  color: #fff;
  padding: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

#square3 p {
  margin-top: 10px;
}

#scroll {
  display: block;
}

#downarrow {
  display: block;
  float: left;
  width: 80px;
  position: relative;
  top: 390px;
  right: 595px;
  height: 10px;
  width: auto;
}

 #scroll p {
  padding-top: 380px;
  padding-left: 470px;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}

#screens {
  background-color: rgba(73, 73, 73, .6);
  position: relative;
  z-index: 2;
  padding: 2%;
  height: 1000px;
}

#screens p {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  display: block;
  margin: 30px;
  padding-top: 50px;
}

#screenshot {
  display: inline-block;
  float: left;
  margin: 30px;
}

h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  display: block;
  padding-left: 50px;
  padding-top: 20px;
  text-align: left;
  font-style: italic;
}

.feature {
  background-color: rgba(64, 55, 63, .4);
  width: 49%;
  height: 420px;
  position: relative;
  z-index: 3;
  display: inline-block;
  margin-bottom: 30px;
}

#screen1, #screen3 {
  float: left;
}

#screen2, #screen4 {
  float: right;
}

#screen4 p {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  padding-bottom: 10px;
  padding-top: 40px;
}

#iphone {
  height: 270px;
  width: auto;
  padding-right: 10px;
  margin: 30px;
  margin-right: 0px;
  float: left;
  padding-right: 50px;
}

.bullet {
  list-style-type: square;
}

#screen4 li {
  color: #fff;
  font-weight: 100;
  margin: 10px;
}

#appstore2 {
  width: 150px;
  height: auto;
  display: inline;
  margin: 0px;
  float: right;
  padding-right: 80px;
  padding-top: 30px;
}

#users {
  background-color: rgba(0, 4, 107, .4);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 450px;
}

#users p {
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  display: inline-block;
  width: 20%;
  padding-left: 140px;
  padding-right: 40px;
  padding-top: 40px;
}

#users img {
  height: 150px;
  width: 150px;
  display: inline-block;
  float: left;
  padding-left: 200px;
  padding-right: 150px;
}

h6 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer {
  background-color: rgba(48, 42, 47, .6);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 200px;
}

.signUp {
  display: inline;
  float: left;
  padding-left: 620px;
}

#Landingtextbox {
  height: 35px;
  width: 230px;
  border: 2px solid;
  border-color: #309852;
  -webkit-padding: 0px;
  background-color: rgba(167, 167, 167, .5);
}

#Landingbutton {
  background-color: #309852;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: thin;
  color: #fff;
  border: 1px;
  padding: 2px 5px;
  text-align: center;
}

#h7 {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  padding-top: 30px;
  margin: 0px;
  padding-bottom: 20px;
}

#appstore3 {
  width: 150px;
  height: auto;
  display: block;
  margin-top: 50px;
  margin-left: 720px;
}

