body {
  margin: 0px;
  background: url("images/teeup.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 570px;
  width: 100%;
  z-index: 0;
/*  background-position: 0 -50px;*/
}

#filter {
  background-color: rgba(137, 123, 140, .0);
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 680px;
  width: 100%;
  z-index: 0;
}


h1, h2, h3, h4, h6, #h7, #topNavigation, #users p, 
#scroll p, #screens p, h5, #screen4 li, 
#users p, #features p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h6, #h7, #users p, 
#features p, #scroll p, #screens p, h5, #screen4 li, 
#users p {
  color: #fff;
  font-weight: 300;
}

h1, h2, h3, h5, h6, ul, menu, dir, hr, #speed p, 
#distance p, #tempo p, #screens p, #users p,
 .signUp ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

#landing {
  display: block;
  position: relative;
  z-index: 2;
}

#header1 {
  height: 70px;
  background-color: rgba(73, 73, 73, .8);
  float: right;
  margin-top: 70px;
}

#header2 {
  height: 40px;
  background-color: rgba(73, 73, 73, .8);
  float: right;
  margin-top: 20px;
}


h1 {
  font-size: 34px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}

h2 {
  font-size: 24px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

#logo1 {
  height: 20%;
  display: block;
  float: right;
  padding-top: 150px;
  padding-right: 20px;
}

#mobilenav {
  display: none;
}

#topNavigation {
    font-size: 15px;
}

#topNavigation a:-webkit-any-link {
color: -webkit-link;
text-decoration: none;
cursor: auto;
}

#topNavigation ul {
    line-height: 40px;
    list-style-type: none;
    padding-top: 10px;
    display: inline-block;
    float: right;
    padding-right: 20px;
}

#topNavigation ul li {
    padding: 0px 15px;
    color:#fff;
}

#topNavigation ul li.selected {
    border-bottom: 4px solid #309852;
    padding-bottom: 10px;
}

#topNavigation ul li:hover {
  color: #15c802;
  background-color: rgba(173, 173, 173, .5);
}

#home {
  background-color: rgba(21, 200, 2, .5);
  position: relative;
  z-index: 1;
  width: 100%;
  height: 443px;
}

#homescreen {
  display: block;
  float: left;
  padding-left: 50px;
  padding-right: 70px;
  position: relative;
  z-index: 1;
  width: 20%;
}

#catch {
  display: inline-block;
}

h3 {
  text-align: left;
  font-size: 20px;
  padding-left: 100px;
  padding-top: 20px;
}

#features p {
  padding: 5%;
  font-size: 18px;
  text-align: center;
}

#appstore {
  height: 60px;
  width: 210px;
  float: right;
}

#screens p {
  font-size: 18px;
  text-align: left;
  padding: 5%;
}

.square {
  height: 200px;
  width: 20%;
  background-color: rgba(21, 200, 2, .5);
  position: relative;
  z-index: 3;
  display: inline-block;
  margin: 1%;
}

#distance {
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

#speedometer {
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

#tempo {
  height: 70px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#scroll {
  display: inline-block;
  float: left;
}

#downarrow {
  height: 10px;
  width: auto;
}

 #scroll p {
  font-size: 20px;
  padding-left: 100px;
}

#screens {
  background-color: rgba(73, 73, 73, .6);
  position: relative;
  z-index: 2;
  padding: 2%;
  height: 1000px;
}

.feature {
  background-color: rgba(64, 55, 63, .4);
  width: 49%;
  height: 420px;
  position: relative;
  z-index: 3;
  display: inline-block;
  margin-bottom: 30px;
}

#screen1, #screen3 {
  float: left;
}

#screen2, #screen4 {
  float: right;
}

#screenshot {
  display: inline-block;
  float: left;
  margin: 30px;
}

h5 {
  font-size: 20px;
  display: block;
  padding-left: 50px;
  padding-top: 20px;
  text-align: left;
  font-style: italic;
}

#screen4 p {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  padding-bottom: 10px;
  padding-top: 40px;
}

#iphone {
  height: 270px;
  width: auto;
  padding-top: 50px;
  padding-right: 50px;
  margin: 2%;
  float: left;
}

.bullet {
  list-style-type: square;
}

#screen4 li {
  margin: 10px;
}

#appstore2 {
  width: 150px;
  height: auto;
  display: inline;
  margin: 0px;
  float: right;
  padding-right: 80px;
  padding-top: 30px;
}

#users {
  background-color: rgba(0, 4, 107, .4);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 450px;
  display: inline-block;
}

.quote {
  display: inline-block;
  width: 20%;
  padding-left: 10%;
}

#users img {
  width: 70%;
  height: auto;
  padding: 2%;
  display: block;
  margin: auto;
}

#users p {
  font-size: 18px;
  padding: 1%;
}

h6 {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer {
  background-color: rgba(48, 42, 47, .6);
  position: relative;
  z-index: 2;
  width: 100%;
  height: 200px;
}

.signUp {
  display: block;
  width: 40%;
  margin: 0px auto;
}

#Landingtextbox {
  height: 35px;
  width: 230px;
  border: 2px solid;
  border-color: #309852;
  -webkit-padding: 0px;
  background-color: rgba(167, 167, 167, .5);
}

#Landingbutton {
  background-color: #309852;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-weight: thin;
  color: #fff;
  border: 1px;
  padding: 2px 5px;
  text-align: center;
}

#h7 {
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
  margin: 0px;
  padding-bottom: 20px;
}

#appstore3 {
  width: 150px;
  height: auto;
  display: block;
  margin: 20px auto;
}

